/*! hard work beats talent when talent doesn't work hard*/
/** Variables ############### */
:root {
	--white: #ffffff;
	--white-off: #f0f8ff;
	--gray: #e5ebec;
	--gray-dark: #747f81;
	--black: #000000;
	--red: #d55140;
	--blue: #0ac7e9;
	--blue-porcelain: #678bc0;
}

/** Fonts ###############  */
/** font-family: 'Poppins', sans-serif; */
/** font-family: 'Lato', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

/** Reset ###############  */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/** Body & Container */
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	width: 100vw;
	height: 100vh;
	background-color: var(--gray);
}

/** Header ############### */
header {
	display: flex;
	justify-content: center;
	min-width: 100%;
	margin: 1em auto;
}

/* li {
	list-style: none;
} */

/** Main ############### */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.message {
	margin-bottom: 1em;
}

.message-p {
	font-size: 1.5em;
}

.message-text {
	color: var(--red);
}

.board {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--gray-dark);
	/* gap: 1em; */
	width: 50em;
	height: 50em;
	align-items: center;
	/* justify-content: center; */
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15em;
	height: 15em;
	background-color: var(--white-off);
	margin: auto;
}

.red {
	border: 0.5em solid var(--red);
}

.blue {
	border: 0.5em solid var(--blue);
}

.square p {
	font-size: 8em;
}

.reset-btn {
	margin-top: 1em;
	font-size: 1.5em;
}

/** lvfha ############### */
a:link,
a:visited {
	color: var(--gray-light);
	text-decoration: none;
}

a:focus,
a:hover {
	color: var(--red-rijks);
	text-decoration: underline;
}

a:active {
	color: var(--gray-darkest);
	text-decoration: underline;
}
